<title><%=@user.userName%></title>
<head>
</head>

<body>
	
	<div class="all">
<h1 class="myUser"><%=@user.userName + "'s Ideas"%></h1>
	</div>
	<%if @user.ideas.empty?%>
		<div class="noIdea"><%= @user.userName + " has no ideas right now."%></div>
	<%end%>
	<% @user.ideas.each do |idea| %>
	<div class="containUsers">
	<ul class = "userPage">
			<li><%= idea.subject %><li>
			<ul class = "ideaBody">
			<li><%= idea.body %></li>
			</ul>	
	</div>
	<%end%>
	

</body>